.navbar {
    margin-bottom: 0;
}
.navbar-brand {
    font-family: "Pacifico";
}

.container .jumbotron {
    font-family: "Pacifico";
    font-size: 4em;
}

.task-item {
    cursor: pointer;
}
.login {
    background-color: lightgreen;
}