body{
    background-color: #e6ffcc;
    
}
 bo.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-family: "Pacifico";
    
}

#navgarden {
    margin:0;
}
.navbar-default .navbar-nav>li>a {
    color:green;
}
.navbar-default .navbar-nav>li>a:hover {
    color:rgb(12, 247, 12);
    font-size:150%;
}
.container .jumbotron {
    font-family: 'Amaranth', sans-serif;
    font-size: 4em;
    background-color:#e6eeff ;
}

.container {
    font-family: 'Amaranth', sans-serif;
    font-size: 1.5em;
}

.navbar {
    font-family: 'Amaranth', sans-serif;
    font-size: 1em;
    margin-top:0;
    
}
.homejumbo {
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
 }

.openActivity {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.login {
    background-color: rgba(89, 145, 89, 0.685);
    padding-top:0;
    margin-top: 0;
}



.employeetask {

    background-color: yellow;
}
.openActivity img {
  width:100%;
}        

                                           