                                            bo.navbar {
                                                margin-bottom: 0;
                                            }
                                            
                                            .navbar-brand {
                                                font-family: "Pacifico";
                                            }
                                            
                                            .container .jumbotron {
                                                font-family: 'Amaranth', sans-serif;
                                                font-size: 4em;
                                            }
                                            
                                            .container {
                                                font-family: 'Amaranth', sans-serif;
                                                font-size: 1.5em;
                                            }
                                            
                                            .navbar {
                                                font-family: 'Amaranth', sans-serif;
                                                font-size: 1em;
                                            }
                                            
                                            .openActivity {
                                                cursor: pointer;
                                            }
                                            
                                            .pointer {
                                                cursor: pointer;
                                            }
                                            
                                            .login {
                                                background-color: rgba(89, 145, 89, 0.685);
                                            }
                                            
                                            .img-responsive {}