    bo.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-family: "Pacifico";
}

.container .jumbotron {
    font-family: 'Amaranth', sans-serif;
    font-size: 4em;
}

.openActivity {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.login {
    background-color: rgba(89, 145, 89, 0.685);
    .footer-bottom {
        background: #d8d8d8;
        padding: 15px 0;
        border-top: 1px solid #d9d9d9;
        font-size: 11px;
        color: #777;
        margin-bottom: 0;
    }