<div class="container">

    <div class="jumbotron text-center">

        <h1>Contact Us</h1>

        <h3> We'll be pleased hearing from you!</h3>
    </div>
    <div class="container newtask">

        <div class="row ">
            <div class="well col-xs-12 col-sm-8 col-md-8 col-lg-8 ">
                <form class="form-horizontal ">
                    <div class="form-group ">
                        <h4 class="text-center"> Chen Shalev <i class="material-icons">call</i> +972-52-3424322
                            <i class="material-icons">email</i><a class="contact-us" href="mailto:chensha07@gmail.com" target="_blank"> Chensha07@gmail.com</a></h4>
                        <h4 class="text-center"> Orly Olivier-Sluszny <i class="material-icons">call</i> +972-54-8001320 <i class="material-icons">email</i>
                            <a class="contact-us" href="mailto:Orly.sluszny@gmail.com" target="">Orly.sluszny@gmail.com</a></h4>
                        <br>
                        <br>
                        <label class="control-label col-sm-2 " for="name ">Name:</label>
                        <div class="col-sm-10 ">
                            <input type="text " class="form-control " id="name " placeholder="Enter you first & last name " ng-model="task.name ">
                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="control-label col-sm-2 " for="desc ">Phone No.:</label>
                        <div class="col-sm-10 ">
                            <input type="text " class="form-control " id="desc " placeholder="Enter your Phone No. (optional) " ng-model="task.description ">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label col-sm-2 " for="email ">E-mail:</label>
                        <div class="col-sm-10 ">
                            <input type="text " class="form-control " id="email " placeholder="Enter your E-mail " ng-model="task.email ">
                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="control-label col-sm-2 " for="Remarks ">Any Remarks?</label>
                        <div class="col-sm-10 ">
                            <textarea class="form-control " rows="5 " id="Remarks " ng-model="task.remarks "></textarea>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label col-sm-2 " for="image ">Need to add a file?<fieldset>
                        </fieldset></label>
                        <div class="col-sm-10 ">
                            <input type="text " class="form-control " id="imageUrl " placeholder="Enter file here " ng-model="task.imageurl ">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-sm-offset-2 col-sm-10 ">
                            <div class="pull-right ">
                                <button type="submit " class="btn btn-default " ng-click="cancel() ">Cancel</button>
                                <button type="submit " class="btn btn-success " ng-click="create(task) ">Send</button>
                            </div>


                        </div>
                    </div>
                </form>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                <img ng-src="images/GardenTimeLogo.PNG " class="img-responsive" alt="Garden Time! ">
                <br>
                <br>

            </div>
            <br>
            <br>

        </div>
        <br>
        <br>

    </div>