<div class="container">
    <div class="jumbotron text-center">
        <h1>Employee Tasks</h1>
    </div>

    <div class="table-responsive col-xs-12 col-sm-12 col-md-7 col-lg-7 ">
        <table class="table table-hover">
            <thead class="table-hdr">
                <tr>
                    <th>Task Name</th>
                    <th>Date</th>
                    <th>Activity</th>
                </tr>
            </thead>

            <tbody>
                <tr class="pointer" ng-repeat="task in taskArr" ng-click="openTask(task)">
                    <td>{{task.name}}</td>
                    <td>{{task.fromdate|date}}</td>
                    <td>{{task.activity}}</td>
                    <td>{{task.Employee}}</td>
                </tr>
            </tbody>

        </table>

    </div>

</div>