<div class="container homejumbo">

        <div class=" jumbotron text-center">
            <h1>IT'S GARDEN TIME!</h1>            
            <h2>Welcome to the unique Garden App that will help you maintain your private garden</h2>
            <p><h5>
    GARDEN MAINTENANCE will provide alerts and collect information from caregivers in the garden.
    By connecting to the Weather app and synchronizing with the calendar, you can enter tasks and alerts.
    The caregivers in the garden will be required to report on the types of treatments done in the application, so that YOU, the owner of the garden can follow and intervene if necessary.
</h5>
</p>
</div>

    <div class="login row col-xs-12 col-sm-2 col-md-2 col-lg-3">
        <div class="modal-header">
            please sign in
        </div>
        <div class="modal-body">
            <form class=" form-horizontal ">
                <div class="form-group">
                    <!-- <label class="control-label col-sm-2" for="email">Email:</label>-->
                    <div class="">
                        <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password" ng-model="password">
                        <button type="" class="btn btn-default pull-right" ng-click="login()">Login</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="alert alert-danger" ng-show="failedAttempt">
                        Invalid email or password
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
</div>