<div class="container">
            
            <div class="jumbotron text-center">
            
                    <h1>Fruit-Picking Tasks </h1>
            
            
                <h3>Order By: <select ng-model="orderProp">
                    <option value="name">Plant Name</option>
                    <option value="FruitingTimeBegins">Fruiting Month Begins</option>
                    <option value="FruitingTimeEnds">Fruiting Month Ends</option>            
                </select></h3>
                <div class="row">
                    <button type="button" class="btn btn-default" ng-click="newTask()">Open a New Task</button>
                    <button type="button" class="btn btn-default" ng-click="reports()">Review Tasks</button>
                </div>
            
            </div>
            
            
                <div class="table-responsive col-xs-12 col-sm-12 col-md-7 col-lg-12 ">
                    <table class="table table-hover">
                        <thead class="table-hdr">
                            <tr class="pointer">
                                <th ng-click="sortBy('name')">Plant Name</th>
                                <th ng-click="sortBy('FruitingTimeBegins')">Fruiting Month Begins</th>
                                <th ng-click="sortBy('FruitingTimeEnds')">Fruiting Month Ends</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="pointer" ng-repeat="plant in plantsArr | orderBy: orderProp : true">
                                <td>{{plant.name}}</td>
                                <td>{{plant.FruitingTimeBegins}}</td>
                                <td>{{plant.FruitingTimeEnds}}</td>
                            </tr>
                        </tbody>
                        </h4>
                    </table>
            
                </div>
</div>    