<div class="container">

    <div class="jumbotron center-text">
        <h1>Tasks window</h1>
        <h2>Hello {{user.firstName}}{{user.lastName}} </h2>
    </div>
<!--
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" >

            <div class="well pointer" ng-click="newtask()">
                open a new task
            </div>
            <div class="well pointer" ng-click="reports()">
                review tasks
            </div>

        </div>

    </div>
-->
</div>