<div class="container">
            
            <div class="jumbotron text-center">
                    
                <h1>Watering Tasks </h1>
                    
                <h3>Order By: <select ng-model="orderProp">
                    <option value="name">Plant Name</option>
                    <option value="Watering">Watering</option>
            
                </select></h3>
                <div class="row">
                    <button type="button" class="btn btn-default" ng-click="newTask()">Open a New Task</button>
                    <button type="button" class="btn btn-default" ng-click="reports()">Review Tasks</button>
                    
                </div>

            </div>
            
            
                <div class="table-responsive col-xs-12 col-sm-12 col-md-7 col-lg-12 ">
                    <table class="table table-hover">
                        <thead class="table-hdr">
                            <tr class="pointer">
                                <th ng-click="sortBy('name')">Plant Name</th>
                                <th ng-click="sortBy('Watering')">Watering</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="pointer" ng-repeat="plant in plantsArr | orderBy: orderProp : false">
                                <td>{{plant.name}}</td>
                                <td>{{plant.Watering}}</td>
            
                            </tr>
                        </tbody>
                        </h4>
                    </table>
                    <br>
                    <br>
                    
                </div>
                <br>
                <br>
                
</div>