<div class="container">

    <div class="jumbotron center-text">
        <h1>open new task window</h1>
        <h2>Hello {{user.firstName}}{{user.lastName}} </h2>
    </div>
    
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2" for="name">Name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" placeholder="Enter Task name" ng-model="Task.name">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="desc">Description:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="desc" placeholder="Enter Task description" ng-model="Task.description">
            </div>
          </div>
          <div class="form-group">   
            <label class="control-label col-sm-2" for="activity">Choose Activity:</label>
            <div class="col-sm-10">
            <select ng-model="selectedactivity" ng-options="y.activity for (x, y) in activityArr">

            </select>
            </div>
          </div>
          <div class="form-group">   
              <label class="control-label col-sm-2" for="location">Choose Location:</label>
              <div class="col-sm-10">
              <select ng-model="selectedlocation" ng-options="y.name for (x, y) in locationArr">
  
              </select>
              </div>
            </div>
            <div class="form-group">   
                <label class="control-label col-sm-2" for="plants">Choose Plant:</label>
                <div class="col-sm-10">
                <select ng-model="selectedplants" ng-options="y.name for (x, y) in plantsArr">
    
                </select>
                </div>
              </div>
              <div class="form-group">   
                  <label class="control-label col-sm-2" for="employee">Choose Employee:</label>
                  <div class="col-sm-10">
                  <select ng-model="selectedemployee" ng-options="y.firstName for (x, y) in employeeArr">
      
                  </select>
                  </div>
                </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="Remarks">Remarks:</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="5" id="Remarks" ng-model="Remarks.steps"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="imageUrl">Image URL:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="imageUrl" placeholder="Enter image URL" ng-model="Task.imageUrl">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="pull-right">
                <button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button type="submit" class="btn btn-success" ng-click="create()">Create</button>
                <button type="submit" class="btn btn-success" ng-click="Done()">Done</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    
    
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img ng-src="{{logo.imageUrl}}" class="img-responsive block-center" alt="Logo Image">
      </div>
    
</div>