<div class="container">

    <div class="jumbotron text-center">
        <h1>It's Garden Time!</h1>
        <h2>Welcome to your Garden Maintenance App.</h2>
        <h5>{{user.firstName + ' ' + user.lastName}} </h5>

        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" ng-repeat="activity in activityArr">

                <div class="well openActivity" ng-click="openActivity(activity)">
                    <img ng-src="{{activity.image}}" class="img-responsive" alt="Image">
                    <h3 class="text-center">{{activity.activity}}</h3>

                </div>

            </div>

        </div>
    </div>

</div>


<!--https://www.accuweather.com/en/il/israel-weather-->